@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: #1d1724;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}


.selection-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    max-width: 60%;
    min-height: 10%;
    margin: auto;
    overflow: hidden;
    background-color: #e8e8e8;
    transform: translateY(5%);
    border-radius: 20px;
}

.page1,.page2,.page3{
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-000%);
    height: 800px;
    transition: 0.5s ease-in-out;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page1 *{
    margin: 10px;
}
form input{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff00;
}
form button{
    margin-top: 50px;
    width: 100%;
    padding: 7px 15px;
    border: none;
    background-color: #9B7EBD;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}
form button:hover{
    background-color: #7b6099;
}

form input:focus{
    border-bottom:1px #4a4a4a solid;
}

.category-list-cont{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    margin-bottom: 100px;

    overflow-y: scroll;
}
.category-selection-cont{
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
margin-top: 50px;
width: 100%;
}

.category-list-cont p,.Q-diff-cont p,.Q-type-cont p{
font-size: 18px;
font-weight: 600;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
background-color: #45404b;
color: #ffffff;
padding: 7px 15px;
border-radius: 10px;
cursor: pointer;
transition: 0.5s ease-in-out;
}

.category-list-cont p:hover,.Q-diff-cont p:hover,.Q-type-cont p:hover{
    background-color: #9B7EBD;
}

.page2 button, .page3 button{
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    right: 10px;
    bottom: 10px;
    padding: 7px 15px;
    border: none;
    background-color: #9B7EBD;
    transition: 0.5s ease;
}

.page2 button:hover, .page3 button:hover{
    background-color: #7b6099;
}
.page3 *{
    margin: 10px;
}
.Q-diff-cont,.Q-type-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Q-num-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Q-num-cont input{
    width: 20%;
    padding: 5px 15px;
    background-color: #00000037;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
}

.Q-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 100px;
    width: 100%;
}
.main-Q{
    width: 100%;
}
.Answers-sec{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.Answers-sec p{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #1d1724;
    border: 2px #9B7EBD solid;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.quiz-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px #9B7EBD solid;
    border-radius: 10px;
    background-color: #00000000;
    cursor: pointer;
    transition: 0.5s ease;
}
.Answers-sec p:hover,.quiz-btn:hover{
    background-color: #9B7EBD;
    color: #e8e8e8;
}

.Answers-sec p:focus{
    background-color: #9B7EBD;
    color: #e8e8e8;
}

.result-info-page{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 50px;
}

@media (max-width:938px) {

    .selection-list{
        width: 98%;
    }

    .category-list-cont p{
        margin: 5px;
        font-size: 16px;
    }
}

@media (max-width:529px) {
    .category-list-cont {

    grid-template-columns: auto auto;
    }
}